
<div class="node_tarjeta_de_presentacion_teaser">
  <div class="box_1">
    <div class="fotografia">{{ content.field_fotografia }}</div> 
  </div>

  <div class="box_2">
    <div class="nombre">{{ content.field_nombre }}</div>
    <div class="apellidos">{{ content.field_apellidos }}</div>
    <div class="area_profesional">{{ content.field_area_profesional }}</div>

    <div class="body">{{ content.body }}</div>  

    <div class="tecnologias">{{ content.field_tecnologias}}</div>

    <div class="correo_electronico_numero_telefonico">
      <div class="correo_electronico">{{ content.field_correo_electronico }}</div>
      <div class="numero_telefonico">{{ content.field_numero_telefonico }}</div>
    </div>

    <div class="curriculum_vitae"> {{ content.field_curriculum_vitae }}</div>  

    <div class="iconos">{{ content.field_icono }}</div>
  </div>

</div>
