<div class="node_experiencia_teaser">

    <div class="box1">
         <div class="image">{{content.field_image}}</div>
    </div>

    <div class="box2">
        <div class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></div>
   
        <div class="localizacion"> {{content.field_localizacion}}</div>

        <div class="fechas">{{ content.field_fechas }}</div>

        <div class="tipo_de_empleo">{{ content.field_ti }}</div>

        <div class="body"><p>{{ content.body }}</p></div>
        
        <div class="tecnologias_empleadas">{{ content.field_tecnologias_empleadas }}</div>
    </div>
</div>
