<div class="node_article_teaser">    
    <div id="card">
        <div id="header">
            <div id="box-1">
                <div id="picture">
                    {{ author_picture }}
                </div>
            </div>
            <div id="box-2">
                 <div id="name">
                    {{ author_name }} 
                </div>
                <div id="date">
                  <i class="fa-thin fa-calendar-clock"></i>  
                  {{ date }} 
                </div> 
            </div>
        </div>
        <div id="content">
            <div id="body">
                <p>{{ content.body }}</p>
            </div>
            <div id="image">
               {{ content.field_image}}
            </div>      
       </div>
       <div id="footer">
               FJ
        </div> 
    </div>
</div>
