<div class="lienzo">
      {{ page.content }}
      {{ page.section_1 }}
      {{ page.section_2 }}
      {{ page.section_3 }}
      {{ page.section_4 }}
      {{ page.section_5 }}
      {{ page.section_6 }}
      {{ page.section_7 }}
      {{ page.section_8 }}
</div>
